.nText {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50%;

  
}

.filter {
  display: flex;
  place-content: center;
  height: 30px;
}

.playlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.playlist ul {
  
  list-style: none;
}